.font1 {
  font-family: "Open Sans", sans-serif;
}
.font2 {
  font-family: "Libre Baskerville", sans-serif;
}
a,
a:visited,
a:active,
a:hover {
  color: black;
  text-decoration: none;
}
#content {
  line-height: 1.8em;
}
body {
  font-family: "Libre Baskerville", sans-serif;
}
.nav-wrapper {
  border-bottom: solid 1px #ddd;
  background: #eee;
  box-shadow: 0px 1px 1px #eee;
}
.main-navigation {
  float: none;
  clear: both;
  width: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.main-navigation a {
  color: #333;
  text-decoration: none;
}
.main-navigation ul {
  display: inline-block;
  vertical-align: bottom;
}
.main-navigation ul li {
  margin: 0px 15px;
  bottom: 0px;
}
.main-navigation ul li a {
  padding: 15px 0;
}
.main-navigation ul li ul {
  opacity: 0;
}
.main-navigation ul li:hover > ul {
  opacity: 1;
  margin: 0px;
  left: 0px;
  box-shadow: none;
  font-size: 13px;
  padding-top: 3px;
  background: rgba(0, 0, 0, 0);
  transition: opacity .2s;
  box-shadow: 0px 1px 1px #ddd;
}
.main-navigation ul li:hover > ul li {
  margin: 0px;
  font-size: 14px;
  border-bottom: solid 1px #fff;
}
.main-navigation ul li:hover > ul li:last-child {
  border-bottom: none;
}
.main-navigation ul li:hover > ul li a {
  text-align: left;
  padding: 3px;
  color: #333;
  padding: 10px;
}
.main-navigation ul li:hover > ul li:nth-child(odd) {
  background: #eee;
}
.main-navigation ul li:hover > ul li:nth-child(even) {
  background: #e6e6e6;
}
.main-navigation ul li:hover > ul li:hover > ul {
  top: 0px;
  padding: 0px;
  padding-left: 1px;
  background: white;
}
@media screen and (max-width: 600px) {
  button.menu-toggle {
    display: inline-block;
    margin: 10px auto;
    background: #f5f5f5;
    box-shadow: none;
    border: solid 1px #ddd;
    color: #555;
    font-size: 13px;
    font-weight: bold;
    outline: none;
  }
  .menu {
    position: absolute;
    background: white;
    border: solid 1px #ddd;
    z-index: 9999;
    width: 80%;
    margin-top: 3px;
    left: 0;
    right: 0;
  }
  .menu li {
    float: none;
    overflow: hidden;
  }
  .menu ul li:hover > ul {
    display: block;
    z-index: 99999;
  }
  .menu ul li:hover > ul li:hover > ul {
    padding-top: 3px !important;
  }
  .menu ul li {
    position: static;
  }
  .toggled .menu {
    display: none;
  }
}
.default-nav {
  display: inline-block;
  float: none;
  clear: both;
  text-align: center;
}
.site-branding {
  margin: 50px 0;
}
.site-title {
  text-align: center;
}
#site-logo {
  max-width: 500px;
  margin: auto;
}
.site-description {
  text-align: center;
  font-size: 13px;
}
header.entry-header {
  text-align: center;
}
header.entry-header .entry-title {
  font-size: 30px;
}
#search-bar {
  text-align: center;
}
#search-bar form input[type="text"] {
  border-radius: 0px;
  outline: none;
  width: 320px;
  height: 40px;
}
#search-bar form button[type="submit"] {
  background: none;
  box-shadow: none;
  border: 0px;
  font-size: 20px;
  padding: 6px 14px;
  position: absolute;
}
#search-bar form button[type="submit"] i {
  color: #ccc;
}
#bar {
  height: 5px;
  display: block;
  background: url(../../images/pattern.png);
  width: 80%;
  margin: 50px auto;
}
.entry-meta {
  margin: 15px 0;
}
.home span.posted-on {
  overflow: hidden;
  display: inline-block;
}
.home span.posted-on a {
  color: #999;
}
.home span.posted-on:before,
.home span.posted-on:after {
  background-color: #eee;
  display: inline-block;
  height: 1px;
  content: " ";
  width: 42%;
  position: absolute;
  vertical-align: middle;
  margin-top: 8px;
}
.home span.posted-on:before {
  left: .5em;
}
.home span.posted-on:after {
  right: .5em;
}
span.posted-on {
  overflow: hidden;
  display: inline-block;
}
span.posted-on:before,
span.posted-on:after {
  background-color: #eee;
  display: inline-block;
  height: 1px;
  content: " ";
  width: 38%;
  position: absolute;
  vertical-align: middle;
  margin-top: 8px;
}
span.posted-on:before {
  left: .5em;
}
span.posted-on:after {
  right: .5em;
}
/*----Slider----*/
#slider-wrapper {
  position: relative;
  margin: 50px auto;
}
#slider-wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}
#slider-wrapper .bx-wrapper {
  border-bottom: solid 5px #000;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 150px rgba(255, 255, 255, 0.5);
  z-index: 99;
}
#slider-wrapper .bx-wrapper .bx-pager {
  background: rgba(255, 255, 255, 0.5);
}
#slider-wrapper .bx-wrapper li {
  list-style: none;
}
#slider-wrapper .bx-wrapper li .slide_caption {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 3em;
}
@media screen and (max-width: 692px) {
  .slider-caption {
    position: relative !important;
    width: 100% !important;
    top: 65% !important;
    opacity: 1 !important;
    left: 0% !important;
    bottom: 0% !important;
    padding: 10px !important;
    background: #444 !important;
    color: #ddd !important;
  }
  .slider-caption .slider-caption-title {
    font-size: 16px !important;
    margin-top: 0px !important;
  }
  .slider-caption .slider-caption-desc {
    padding-top: 15px;
    font-size: 13px !important;
    text-indent: 0px !important;
  }
  .bx-pager {
    width: 100%;
    background: none !important;
    position: relative !important;
    text-align: center !important;
  }
}
ul.bxslider {
  margin: 0px;
}
ul.bxslider li {
  width: auto;
}
@media screen and (max-width: 1200px) {
  .home span.posted-on:before,
  .home span.posted-on:after {
    width: 40% !important;
  }
}
@media screen and (max-width: 992px) {
  .home span.posted-on:before,
  .home span.posted-on:after {
    width: 37% !important;
  }
}
@media screen and (max-width: 600px) {
  .home span.posted-on:before,
  .home span.posted-on:after {
    width: 33% !important;
  }
}
@media screen and (max-width: 421px) {
  .home span.posted-on:before,
  .home span.posted-on:after {
    width: 25% !important;
  }
}
@media screen and (max-width: 1200px) {
  span.posted-on:before,
  span.posted-on:after {
    width: 35% !important;
  }
}
@media screen and (max-width: 992px) {
  span.posted-on:before,
  span.posted-on:after {
    width: 37% !important;
  }
}
@media screen and (max-width: 600px) {
  span.posted-on:before,
  span.posted-on:after {
    width: 33% !important;
  }
}
@media screen and (max-width: 421px) {
  span.posted-on:before,
  span.posted-on:after {
    width: 25% !important;
  }
}
.byline {
  display: none !important;
}
.home article {
  margin-top: 100px;
}
.home article:first-child {
  margin-top: 0px;
}
.home article h1.entry-title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
}
.home article h1.entry-title a {
  text-decoration: none;
}
.home article .entry-meta .posted-on {
  margin: 15px auto;
}
.home article .featured-thumb {
  margin: auto;
  width: 60%;
  margin-bottom: 30px;
}
.home article .featured-thumb img {
  display: block;
  margin: auto;
}
.home .entry-content {
  text-align: center;
}
.home .entry-content a.more-link {
  border: solid 1px #ddd;
  padding: 8px 12px;
  position: relative;
  top: 20px;
}
.entry-footer {
  display: inline-block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.entry-footer .cat-links {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 3px 8px;
  position: relative;
}
.entry-footer .cat-links:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  background: #ddd;
  margin: auto;
  left: 0;
  right: 0;
  top: -10px;
}
.entry-footer .cat-links a,
.entry-footer .cat-links a:visited {
  color: #555;
}
.entry-footer .tags-links {
  text-align: center;
  padding: 3px 8px;
  position: relative;
  font-weight: bold;
}
.entry-footer .tags-links:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  background: #ddd;
  margin: auto;
  left: 0;
  right: 0;
  top: -10px;
}
.entry-footer .tags-links a,
.entry-footer .tags-links a:visited {
  overflow: hidden;
  color: #555;
}
.entry-footer .comments-link {
  text-align: center;
  padding: 3px 8px;
  position: relative;
  font-weight: bold;
}
.entry-footer .comments-link:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 4px;
  background: #ddd;
  margin: auto;
  left: 0;
  right: 0;
  top: -10px;
}
.entry-footer .comments-link a,
.entry-footer .comments-link a:visited {
  color: #555;
}
.entry-footer .edit-link {
  float: right;
  margin: 5px 0;
}
.entry-footer .edit-link a {
  color: #999;
}
.post-navigation {
  border-top: solid 1px #f5f5f5;
  border-bottom: solid 1px #f5f5f5;
  padding: 10px 5px;
}
.post-navigation a {
  color: #555;
  font-weight: bold;
  font-size: 12px;
}
.post-navigation span {
  display: none;
}
.social-icons {
  text-align: center;
  margin-bottom: 50px;
}
.social-icons img {
  height: 48px;
  width: auto;
  margin: 5px;
}
#secondary {
  padding-left: 30px;
}
#secondary .widget {
  margin-bottom: 40px;
}
#secondary .widget .widget-title {
  padding-left: 5px;
  font-size: 25px;
}
#secondary .widget ul {
  list-style: none;
  margin: 0px;
}
#secondary .widget ul li {
  background: #f5f5f5;
  padding: 5px 20px 5px 20px;
  border-bottom: solid 1px white;
  font-size: 12px;
  overflow: hidden;
}
#secondary .widget ul li:last-child {
  border-bottom: none;
}
#secondary .widget ul li a,
#secondary .widget ul li a:visited {
  color: #555;
}
#secondary .widget ul li a:hover,
#secondary .widget ul li a:visited:hover {
  text-decoration: none;
}
#secondary .widget_search {
  margin: 20px 0;
}
#secondary .widget_search input[type=search] {
  width: 200%;
  outline: none;
  border-radius: 0px;
  font-style: italic;
  float: none;
  margin: 0 auto;
  font-size: 12px;
}
@media screen and (max-width: 1200px) {
  #secondary .widget_search input[type=search] {
    width: 140%;
  }
}
.single #content #primary .entry-content {
  margin: 20px auto;
}
#footer-sidebar {
  padding-left: 30px;
}
#footer-sidebar .widget .widget-title {
  padding-left: 5px;
  font-size: 25px;
}
#footer-sidebar .widget ul {
  list-style: none;
  margin: 0px;
}
#footer-sidebar .widget ul li {
  background: #f5f5f5;
  overflow: hidden;
  padding: 5px 0px 5px 20px;
  border-bottom: solid 1px white;
  font-size: 12px;
}
#footer-sidebar .widget ul li:last-child {
  border-bottom: none;
}
#footer-sidebar .widget ul li a,
#footer-sidebar .widget ul li a:visited {
  color: #555;
}
#footer-sidebar .widget ul li a:hover,
#footer-sidebar .widget ul li a:visited:hover {
  text-decoration: none;
}
#footer-sidebar .widget_search {
  margin: 20px 0;
}
#footer-sidebar .widget_search input[type=search] {
  width: 200%;
  outline: none;
  border-radius: 0px;
  font-style: italic;
  float: none;
  margin: 0 auto;
  font-size: 12px;
}
@media screen and (max-width: 1200px) {
  #footer-sidebar .widget_search input[type=search] {
    width: 140%;
  }
}
@media screen and (max-width: 1200px) {
  #footer-sidebar .widget_search input[type=search] {
    width: 200%;
  }
}
#footer-sidebar .widget_tag_cloud a {
  padding: 3px 5px;
  line-height: 2em;
  background: #f5f5f5;
}
/**Showcase**/
#showcase-wrapper {
  display: inline-block;
  margin: 50px auto;
}
@media screen and (max-width: 768px) {
  #showcase-wrapper {
    height: 550px;
  }
  #showcase-wrapper .showcase-box {
    padding: 1px;
    overflow: hidden;
    height: auto;
    margin-bottom: 30px;
  }
  #showcase-wrapper .showcase-box .showcase-image {
    height: auto;
    overflow: hidden;
    background: none;
  }
  #showcase-wrapper .showcase-box .showcase-title {
    vertical-align: middle;
    text-align: center;
    padding: 5px 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #showcase-wrapper {
    height: 300px;
  }
  #showcase-wrapper .showcase-box {
    padding: 1px;
    overflow: hidden;
    height: auto;
  }
  #showcase-wrapper .showcase-box .showcase-image {
    height: 200px;
    overflow: hidden;
    background: none;
  }
  #showcase-wrapper .showcase-box .showcase-title {
    vertical-align: middle;
    text-align: center;
    padding: 5px 0px;
  }
}
@media screen and (min-width: 992px) {
  #showcase-wrapper {
    height: auto;
  }
  #showcase-wrapper .showcase-box {
    padding: 1px;
    overflow: hidden;
    height: 300px;
  }
  #showcase-wrapper .showcase-box .showcase-image {
    height: 250px;
    overflow: hidden;
    background: none;
  }
  #showcase-wrapper .showcase-box .showcase-image img {
    width: 100%;
  }
  #showcase-wrapper .showcase-box .showcase-title {
    text-align: center;
    padding: 5px 0px;
  }
}
/** Comments **/
#comments .comment-list {
  list-style: none;
}
#comments .comment-list .comment-body {
  margin: 40px 0;
}
#comments .comment-list .comment-body h2.comments-title {
  font-size: 25px;
  padding: 20px 0;
  border-top: double 4px #ddd;
}
#comments .comment-list .comment-body .vcard img {
  height: 48px;
  width: auto;
  float: left;
}
#comments .comment-list .comment-body .vcard b.fn {
  margin-left: 10px;
  color: #aaa;
}
#comments .comment-list .comment-body .vcard span.says {
  display: none;
}
#comments .comment-list .comment-body .comment-metadata {
  display: inline-block;
  margin-left: 10px;
  font-style: italic;
  font-size: 10px;
}
#comments .comment-list .comment-body .comment-metadata .edit-link {
  margin-left: 10px;
}
#comments .comment-list .comment-body .comment-content {
  padding: 10px 0;
  border-bottom: solid 1px #ddd;
}
#comments .comment-list .comment-body .reply {
  font-style: italic;
  margin-right: 10px;
  float: right;
}
#comments .comment-list .comment-body .reply a {
  font-size: 12px;
}
/**Footer-Sidebar**/
#footer-sidebar {
  border-top: solid 2px #444;
  box-shadow: 0px -1px 0px #cccccc;
}
.site-info {
  padding: 10px 0px;
  border-top: solid 2px #222;
  background: #f5f5f5;
  color: #222;
}
.site-info a {
  color: #333;
}
.site-info a:hover {
  color: #777;
  text-decoration: none;
}
.pagination {
  width: 100%;
}
.pagination ul {
  display: inline-block;
  list-style: none;
}
.pagination li {
  float: left;
  margin: 5px 10px;
}
